@charset "utf-8";

:root {
  --primary-background-color: rgb(23 24 32);
  --secondary-background-color: rgba(59, 60, 69, 0.35);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;    
}

body {
  background-color: var(--primary-background-color);
  font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
}


/*---------------------------------------------------------------*/
/*-------------------Utility Classes-----------------------------*/
/*---------------------------------------------------------------*/

.flex {
  display: flex;
}

/* .row {
  display: flex;
  justify-content: space-between;
} */

.center {
  /* display: grid; */
  align-items: center;
  justify-content: center;
}

.gap-15 {
  gap: 15px;
}

/* .gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
} */

.space-between {
  justify-content: space-between;
}

p, li {
  color: #fff;
}


/*---------------------------------------------------------------*/
/*-------------------Header--------------------------------------*/
/*---------------------------------------------------------------*/
.page-header {
  height: 56px;
  background-color: var(--secondary-background-color);
  line-height: 56px;
}

h1 {
  color: rgb(64, 128, 238);
}

.logo {
  width: 16%;
}

.options {
  width: 80%;
  /* align-items: center;
  justify-content: center; */
}

ul li {
  align-items: center;
  justify-content: center;
}

/* .user-info {
  align-items: flex-end;
} */
.user-info img {
  height: 56px;
  width: auto;
}